# --- MCP & Agent Logic ---
fastmcp # The framework for your server.py
pydantic # Required for MCP tool data validation

# --- Web Server ---
fastapi # Web framework for building the interactive API
uvicorn # ASGI server to run the FastAPI application

# --- Math Layer (Numba/NumPy) ---
numpy
numba

# -- Image Rendering
Pillow
bokeh  # for palettes

# --- Testing & Development ---
pytest
pytest-cov
ruff
mypy
